<div class="container-fluid">
  <div class="col-12 mt-5">
    <div class="row">
      <% @salons.each do |salon| %>
      <div class="col-4 mx-auto">
        <div class="card shadow text-center height">
            <%= salon.name %>
        </div>
            <div>
              <%= link_to 'Veiw', salon, class: "btn bg-primary mt-2" %>
            </div>
      </div>
      <% end %>   
    </div>
  </div>
</div>